{{#partial "estilos"}}
    <link rel="stylesheet" href="css/main.css">
{{/partial}}
{{#partial "header-btns-register"}}
    <a class="header-btn left-btn" href="inicioSesion">Iniciar sesión</a>
    <a class="header-btn right-btn" href="registro" >Registrarse</a>
{{/partial}}
{{#partial "main"}}
    <main class="header-main main-no-log">
        <a class="contribute" href="/registro">¡Quiero contribuir!</a>
        <img src="img/donation.jpg" alt="" class="img-main">
    </main>
{{/partial}}
{{> templates/base/landingBase }}