{{#partial "home-estilos"}}
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/heladeras.css">
    <link rel="stylesheet" href="/css/registro.css">
    <link rel="stylesheet" href="/css/viandas.css">
{{/partial}}
{{#partial "home-main"}}
    <main class="admin-heladeras donar-viandas-main">
        <h1 class="distribuir-viandas-3">Ha elegido "Donar viandas" <br>
            Complete los datos correspondientes
        </h1>
        <div class="heladeras-mapa distribuir-viandas-3">
            <form class="form-registro2 donar-viandas" method="POST">
                <input type="hidden" name="cant-viandas">
                <div class="form-element2 donar-dinero-element">
                    <label for="form-nombre">Viandas</label>
                    <div class="form-element-dropdown">
                        <div class="dropdown-select-btn">
                            <p>Agregar vianda</p>
                            <span>
                                    <i class="fa-solid fa-chevron-down"></i>
                                </span>
                        </div>
                        <ul class="dropdown-item-list">
                            <li class="dropdown-item-only closable agregar-vianda checked">
                                <p></p>
                                <p>Agregar vianda</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="form-element2 donar-dinero-element dynamic-input">
                    <label for="form-nombre">Comida</label>
                    <input type="text" name="vianda[0][comida]" placeholder="">
                </div>
                <div class="form-element2 donar-dinero-element dynamic-input">
                    <label for="form-nombre">Fecha de caducidad</label>
                    <input type="date" name="vianda[0][fecha_caducidad]" id="form-apellido">
                </div>
                <div class="form-element2 donar-dinero-element dynamic-input">
                    <label for="form-nombre">Peso comida (kg)</label>
                    <input type="number" name="vianda[0][peso]" id="form-apellido">
                </div>
                <div class="form-element2 donar-dinero-element dynamic-input">
                    <label for="form-nombre">Calorías comida (KCal)</label>
                    <input type="number" name="vianda[0][calorias]" id="form-apellido">
                </div>
                <div class="form-element2 donar-dinero-element">
                    <label for="form-nombre">Heladera</label>
                    <input type="text" name="heladera" id="form-heladera" placeholder="{{heladera}}" disabled>
                </div>
                <div class="btns-viandas">
                    <button class="btn-next2 guardar-vianda" type="button">
                        <i class="fa-solid fa-check"></i>
                        <p>Guardar</p>
                    </button>
                </div>
            </form>
            <section class="blurred-map">
                <a href="javascript:history.back()">ABRIR MAPA</a>
            </section>
        </div>
        <div class="modal-solicitudes-apertura hidden">
            <div class="modal-solicitudes-apertura-header">
                <h1 class="timer"></h1>
            </div>
            <div class="heladeras-solicitadas">
                <div class="heladeras-solicitadas-text">
                    <p>Heladera a</p>
                </div>
                <a class="btn-next2 btn-aceptar-modal-donar">
                    <p>Finalizar</p>
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>
        </div>
        <div class="btns-next-viandas distribuir-viandas-3">
            <a class="btn-next2" href="javascript:history.back()">
                <p>Atrás</p>
                <i class="fa fa-arrow-left"></i>
            </a>
            <a class="btn-next2 btn-opener-solicitudes-apertura">
                <p>Finalizar</p>
                <i class="fa fa-arrow-right"></i>
            </a>
        </div>
    </main>
{{/partial}}
{{#partial "home-scripts"}}
    <script>
        let viandaCount = 0;

        document.querySelector('.guardar-vianda').addEventListener('click', () => {
            if (estaTodoLleno()) {
                viandaCount++;
                const nuevaViandaComida = `<input type="text" name="vianda[${viandaCount}][comida]" id="form-apellido" placeholder="">`
                const nuevaViandaFecha = `<input type="date"  name="vianda[${viandaCount}][fecha_caducidad]" id="form-apellido">`
                const nuevaViandaPeso = `<input type="number" name="vianda[${viandaCount}][peso]" id="form-apellido">`
                const nuevaViandaCalorias = `<input type="number" name="vianda[${viandaCount}][calorias]" id="form-apellido">`
                reemplazarInputs(nuevaViandaComida, nuevaViandaFecha, nuevaViandaPeso, nuevaViandaCalorias);
            }
        })

        function reemplazarInputs(comida, fecha, peso, calorias) {
            for (let i = 0; i < viandaCount; i++) {
                document.querySelector(`input[name="vianda[${i}][comida]"]`).classList.add('hidden');
                document.querySelector(`input[name="vianda[${i}][fecha_caducidad]"]`).classList.add('hidden');
                document.querySelector(`input[name="vianda[${i}][peso]"]`).classList.add('hidden');
                document.querySelector(`input[name="vianda[${i}][calorias]"]`).classList.add('hidden');
            }
            var inputs = document.querySelectorAll('.dynamic-input')
            inputs[0].insertAdjacentHTML('beforeend', comida);
            inputs[1].insertAdjacentHTML('beforeend', fecha);
            inputs[2].insertAdjacentHTML('beforeend', peso);
            inputs[3].insertAdjacentHTML('beforeend', calorias);
            console.log("Reemplazando inputs");
        }

        function estaTodoLleno() {
            const inputs = document.querySelectorAll('.form-element2 input');
            for (let i = 0; i < inputs.length; i++) {
                if (inputs[i].value === '' && inputs[i].placeholder === '') {
                    return false;
                }
            }
            return true;
        }

        document.querySelector('.btn-aceptar-modal-donar').addEventListener('click', () => {
            document.querySelector('input[name="cant-viandas"]').value = viandaCount;
            document.querySelector('.form-registro2').submit();
        })

    </script>
    <script src="/js/dropdownScript.js"></script>
    <script src="/js/modalViandas.js"></script>
    <script src="/js/donarViandas.js"></script>
    <script src="/js/timer.js"></script>
{{/partial}}

{{>templates/base/homeBase}}