{{#partial "home-estilos"}}
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/registro.css">
{{/partial}}
{{#partial "home-main"}}
    <main class="registro2-main">
        <div class="registro2-title">
            <h1>Ha elegido “Donación de Dinero”<br>
                Complete los datos correspondientes
            </h1>
        </div>
        <form class="form-registro2 donar-dinero" id="form-dinero" method="POST">
            <div class="form-element2 donar-dinero-element">
                <label for="monto">¿Qué monto quiere donar? (Pesos)</label>
                <input type="number" name="monto" id="form-apellido" required>
            </div>
            <input name="frecuencia" id="frecuencia" class="hidden" />
            <div class="form-element2 donar-dinero-element">
                <label for="form-nombre">Formas de colaborar</label>
                <div class="form-element-dropdown">
                    <div class="dropdown-select-btn">
                        <p>0 seleccionadas</p>
                        <span>
                            <i class="fa-solid fa-chevron-down"></i>
                        </span>
                    </div>
                    <ul class="dropdown-item-list">
                        <li class="dropdown-item-only">
                            <span>
                                <i class="fa-solid fa-check check-icon"></i>
                            </span>
                            <p>Única</p>
                        </li>
                        <li class="dropdown-item-only">
                            <span>
                                <i class="fa-solid fa-check check-icon"></i>
                            </span>
                            <p>Mensual</p>
                        </li>
                        <li class="dropdown-item-only">
                            <span>
                                <i class="fa-solid fa-check check-icon"></i>
                            </span>
                            <p>Anual</p>
                        </li>
                    </ul>
                </div>
            </div>
        </form>
        <div class="btns-next">
            <a class="btn-next2" href="javascript:history.back()">
                <p>Atrás</p>
                <i class="fa fa-arrow-left"></i>
            </a>
            <a class="btn-next2" id="finalizar-donacion-dinero">
                <p>Finalizar</p>
                <i class="fa fa-arrow-right"></i>
            </a>
        </div>
    </main>
{{/partial}}
{{#partial "home-scripts"}}
    <script src="../js/dropdownScript.js">
    </script>
    <script>
        document.querySelector('#finalizar-donacion-dinero').addEventListener('click', () => {
            document.querySelector('#frecuencia').value = frecuenciaSegun(document.querySelector('.checked').children[1].innerHTML)
            document.querySelector('#form-dinero').submit();
        });
        function frecuenciaSegun(str) {
            if (str === "Única") {
                return "Unica";
            } else if (str === "Mensual") {
                return "Mensual";
            } else if (str === "Anual") {
                return "Anual";
            }
        }
    </script>
{{/partial}}
{{>templates/base/homeBase}}